ion-content {
    display: flex;
    justify-content: center;
}

.collectingData {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 20px;
}

.showDataClass {
    margin: 50px;
}